body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image:url("msd.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  padding: 30px;;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

h5 {
  text-align: center;
  color: #000000; 
  font-size: medium;
  font-style: normal;
  
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #209b10;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #78d878;
}

.link-text {
  text-align: center;
  margin-top: 15px;
}

.link-text a {
  color: #4a148c;
  text-decoration: none;
}

.link-text a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }
}